<div class="post-body_content__fqQS1 contentBody break-all">
  <p>
    <strong>Commonwealth Games Women’s Cricket Competition 2022&nbsp;</strong
    >|&nbsp;&nbsp;<strong>10th T20 Match</strong>&nbsp;&nbsp;|&nbsp;The match
    will be played between&nbsp;<strong>Barbados Women</strong
    >&nbsp;and&nbsp;<strong>India Women</strong>.
  </p>

  <ul>
    <li>
      Date &amp; Time-&nbsp;<strong>03 Aug (Wednesday) | 10:30 PM</strong>
    </li>
    <li>Venue –&nbsp;<strong>Edgbaston, Birmingham</strong></li>
    <li>Match Status-&nbsp;<strong>10th Match</strong></li>
  </ul>

  <h2 id="h-team-overview"><strong>Team Overview</strong></h2>

  <p><strong>Series only</strong></p>

  <h3 id="h-barbados-women"><strong>Barbados Women</strong></h3>

  <ul>
    <li>Matches Played –<strong>&nbsp;2</strong></li>
    <li>Matches Won –&nbsp;<strong>1</strong></li>
    <li>Matches Lose –&nbsp;<strong>1</strong></li>
    <li>Tie / No Results –&nbsp;<strong>0</strong></li>
    <li>(<strong>Last 5 Matches</strong>) –&nbsp;<strong>(N/A)</strong></li>
    <li>
      Team Captain<strong
        >&nbsp;– <strong>&nbsp;Hayley Matthews (c)</strong></strong
      >
    </li>
  </ul>

  <h3 id="h-india-women"><strong>India Women</strong></h3>

  <p><strong>Series only</strong></p>

  <ul id="block-5ec45c59-d3fa-4ba8-b1ee-18482f4dc83a">
    <li>Matches Played –&nbsp;<strong>2</strong></li>
    <li>Matches Won –&nbsp;<strong>1</strong></li>
    <li>Matches Lose –&nbsp;<strong>1</strong></li>
    <li>Tie / No Results –&nbsp;<strong>0</strong></li>
    <li>(<strong>Last 5 Matches</strong>) –&nbsp;<strong>(N/A)</strong></li>
    <li>
      Team Captain<strong
        >&nbsp;–&nbsp;<strong>Harmanpreet Kaur (c)</strong>
      </strong>
    </li>
  </ul>

  <h2><strong>Pitch Report – BARW vs INW</strong></h2>

  <p>
    The pitch at&nbsp;<strong>Edgbaston, Birmingham</strong>&nbsp;is a balanced
    pitch which has been good for both of the departments so far, however,
    Batting first should be the call as per the matches have done here a bit
    more advantage for bowling second and an average score on this pitch is
    likely to be 170+.
  </p>

  <ul>
    <li>Total Match Played:&nbsp;<strong>6</strong></li>
    <li>Batting First Won:&nbsp;<strong>6</strong></li>
    <li>Batting Second Won:&nbsp;<strong>0</strong></li>
    <li>Tie / No Results:&nbsp;<strong>0</strong></li>
    <li>Avg. Score in 1st bat:&nbsp;<strong>169</strong></li>
  </ul>

  <h2><strong>Probable Playing XI – BARW vs IND</strong></h2>

  <h2><strong>Barbados Women (BAR-W)-XI</strong></h2>

  <p></p>

  <h4>
    <a href="https://www.cricbuzz.com/profiles/9089/deandra-dottin"><br /></a
    ><strong>&nbsp;Hayley Matthews (c)</strong> (All / OB)
  </h4>

  <ul>
    <li>(On going) – M-2, R-69, Ave-34.50, W-1</li>
    <li>H2H Bat – M-9, R-152, Ave-19</li>
    <li>H2H Bowl – M-9, W-9, Sr-18</li>
    <li>Venue Stats bat – M-2, R-69, Ave-34.50</li>
    <li>Venue Stats bowl – M-2, W-1, Sr-36</li>
  </ul>

  <h4>
    <strong>Kycia Knight (wk)</strong>
    <strong>&nbsp;</strong>(LHB)
  </h4>

  <ul>
    <li>(On going) – M-2, R-71, Ave-71</li>
    <li>H2H Bat – M-4, R-18, Ave-9</li>
    <li>Venue Stats bat – M-2, R-71, Ave-71</li>
  </ul>

  <h4><strong>Kyshona Knight</strong> (LHB)</h4>

  <ul>
    <li>(On going) – M-2, R-14, Ave-7</li>
    <li>H2H Bat – M-7, R-43, Ave-8.60</li>
    <li>Venue Stats bat – M-2, R-14, Ave-7</li>
  </ul>

  <h4><strong>Aaliyah Alleyne</strong> (RHB / RAM)</h4>

  <ul>
    <li>(On going) – M-2, R-8, Ave-4, W-1</li>
    <li>H2H Bat – M-3, R-10, Ave-10</li>
    <li>H2H Bowl – M-3, W-1, Sr-36</li>
    <li>Venue Stats bat – M-2, R-8, Ave-4</li>
    <li>Venue Stats bowl – M-2, W-1, Sr-24</li>
  </ul>

  <h4>
    <strong><strong>Tiffany Thorpe</strong></strong> (RHB / RAM)
  </h4>

  <ul>
    <li>(On going) – N/A</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – N/A</li>
  </ul>

  <h4><strong>Trishan Holder</strong> (RHB / RAM)</h4>

  <ul>
    <li>(On going) – M-2, R-0</li>
    <li>H2H Bat – N/A</li>
    <li>Venue Stats bat – N/A</li>
  </ul>

  <h4><strong>Alisa Scantlebury</strong> ( wk / RHB)</h4>

  <ul>
    <li>(On going) – M-2, R-8, Ave-8</li>
    <li>H2H Bat – N/A</li>
    <li>Venue Stats bat – M-2, R-8, Ave-8</li>
  </ul>

  <h4><strong>Shakera Selman</strong> (RHB / RAM)</h4>

  <ul>
    <li>(On going) – M-2, R-0, W-0</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – M-6, W-6, Sr-20</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – N/A</li>
  </ul>

  <h4><strong>Shamilia Connell</strong> (RHB / RAF)</h4>

  <ul>
    <li>(On going) – M-2, W-1</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – M-3, W-1, Sr-24</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – M-2, W-1, Sr-36</li>
  </ul>

  <h4><strong>Keila Elliott</strong> (RHB / LB)</h4>

  <ul>
    <li>(On going) – M-1, R-2, Ave-2, W-0</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – M-1, R-2, Ave-2</li>
    <li>Venue Stats bowl – N/A</li>
  </ul>

  <h4><strong>Shanika Bruce</strong> (LHB / RAM)</h4>

  <ul>
    <li>(On going) – M-2, R-1*, W-1</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – M-2, W-1, Sr-18</li>
  </ul>

  <p></p>

  <p></p>

  <h2><strong>Bench Players (BAR-W)</strong></h2>

  <p></p>

  <h4><strong>Aaliyah Williams</strong> (All / RAM)</h4>

  <ul>
    <li>(On going) – N/A</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – N/A</li>
  </ul>

  <h4><strong>Shai Carrington</strong> (wk / RHB)</h4>

  <ul>
    <li>(On going) – N/A</li>
    <li>H2H Bat – N/A</li>
    <li>Venue Stats bat – N/A</li>
  </ul>

  <h4><strong>Shaunte Carrington</strong> (RHB / OB)</h4>

  <ul>
    <li>(On going) – N/A</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – N/A</li>
  </ul>

  <p></p>

  <p></p>

  <p></p>

  <h2><strong>India Women (IN-W)-XI</strong></h2>

  <p></p>

  <h4>
    <a href="https://www.cricbuzz.com/profiles/10012/smriti-mandhana"><br /></a
    ><strong>Smriti Mandhana</strong> (LHB)
  </h4>

  <ul>
    <li>(On going) – M-2, R-87, Ave-87</li>
    <li>H2H Bat – N/A</li>
    <li>Venue Stats bat – M-2, R-87, Ave-87</li>
  </ul>

  <h4><strong>Shafali Verma</strong> (RHB)</h4>

  <ul>
    <li>(On going) – M-2, R-64, Ave-32, W-1</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – M-2, R-64, Ave-32</li>
    <li>Venue Stats bowl – M-2, W-1, Sr-12</li>
  </ul>

  <h4><strong>Yastika Bhatia (wk)</strong> (LHB)</h4>

  <ul>
    <li>(On going) – M-2, R-8, Ave-8</li>
    <li>H2H Bat – N/A</li>
    <li>Venue Stats bat – M-2, R-8, Ave-8</li>
  </ul>

  <h4><strong>Harmanpreet Kaur (c)</strong> (All / OB)</h4>

  <ul>
    <li>(On going) – M-2, R-52, Ave-52, W-0</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – M-2, R-52, Ave-52</li>
    <li>Venue Stats bowl – N/A</li>
  </ul>

  <h4><strong>Jemimah Rodrigues</strong> (RHB)</h4>

  <ul>
    <li>(On going) – M-2, R-13, Ave-13</li>
    <li>H2H Bat – N/A</li>
    <li>Venue Stats bat – M-2, R-13, Ave-13</li>
  </ul>

  <h4>
    <strong><strong>Pooja Vastrakar</strong></strong> (All / RAM)
  </h4>

  <ul>
    <li>(On going) – N/A</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – N/A</li>
  </ul>

  <h4><strong>Deepti Sharma</strong> (All / OB)</h4>

  <ul>
    <li>(On going) – M-2, R-1, Ave-1, W-2</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – M-2, W-2, Sr-21</li>
  </ul>

  <h4><strong>Radha Yadav</strong> (RHB / LB)</h4>

  <ul>
    <li>(On going) – M-2, R-2*, W-2</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – M-2, W-2, Sr-21</li>
  </ul>

  <h4><strong>Sneh Rana</strong> (All / OB)</h4>

  <ul>
    <li>(On going) – M-1, W-2</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – M-1, W-2, Sr-12</li>
  </ul>

  <h4><strong>Meghna Singh</strong> (RHB / RAM)</h4>

  <ul>
    <li>(On going) – M-2, W-2</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – M-2, W-2, Sr-18</li>
  </ul>

  <h4><strong>Renuka Singh</strong> (RHB / RAFM)</h4>

  <ul>
    <li>(On going) – M-2, W-5</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – M-2, W-5, Sr-9.60</li>
  </ul>

  <p></p>

  <p></p>

  <p></p>

  <h2><strong>Bench Players (IN-W)</strong></h2>

  <p></p>

  <h4><strong>&nbsp;Taniya Bhatia</strong> ( wk / RHB)</h4>

  <ul>
    <li>(On going) – N/A</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – N/A</li>
  </ul>

  <h4><strong>Harleen Deol</strong> (RHB)</h4>

  <ul>
    <li>(On going) – M-1, R-7, Ave-7</li>
    <li>H2H Bat – N/A</li>
    <li>Venue Stats bat – M-1, R-7, Ave-7</li>
  </ul>

  <h4><strong>Rajeshwari Gayakwad</strong> (RHB / LB)</h4>

  <ul>
    <li>(On going) – M-1, W-0</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl – N/A</li>
    <li>Venue Stats bat – N/A</li>
    <li>Venue Stats bowl – N/A</li>
  </ul>

  <h4><strong>Sabbhineni Meghana</strong> (RHB)</h4>

  <ul>
    <li>(On going) – M-1, R-14, Ave-14</li>
    <li>H2H Bat – N/A</li>
    <li>H2H Bowl –</li>
    <li>Venue Stats bat – M-1, R-14, Ave-14</li>
    <li>Venue Stats bowl –</li>
  </ul>

  <p></p>

  <p></p>

  <h2><strong>Top Picks By Venue</strong></h2>

  <p></p>

  <h4>
    <a href="https://www.cricbuzz.com/profiles/10012/smriti-mandhana"><br /></a
    ><strong>Smriti Mandhana</strong>
  </h4>

  <ul>
    <li>Venue Stats bat – M-2, R-87, Ave-87</li>
  </ul>

  <h4><strong>Shafali Verma</strong></h4>

  <ul>
    <li>Venue Stats bat – M-2, R-64, Ave-32</li>
  </ul>

  <h4><strong>Harmanpreet Kaur (c)</strong></h4>

  <ul>
    <li>Venue Stats bat – M-2, R-52, Ave-52</li>
  </ul>

  <h4>
    <a href="https://www.cricbuzz.com/profiles/9089/deandra-dottin"><br /></a
    ><strong>&nbsp;Hayley Matthews (c)</strong>
  </h4>

  <ul>
    <li>Venue Stats bat – M-2, R-69, Ave-34.50</li>
  </ul>

  <h4><strong>Kycia Knight (wk)</strong></h4>

  <ul>
    <li>Venue Stats bat – M-2, R-71, Ave-71</li>
  </ul>

  <p></p>

  <p></p>

  <p></p>

  <h2><strong>C &amp; VC Selection :- BARW vs INW</strong></h2>

  <h3><strong>Safe Option</strong></h3>

  <ul>
    <li>Smriti Mandhana</li>
    <li>Pooja Vastrakar</li>
    <li>Hayley Matthews</li>
  </ul>

  <h2><strong>Risky Optin</strong></h2>

  <ul>
    <li>Renuka Singh</li>
    <li>Harmanpreet Kaur</li>
    <li>Deepti Sharma</li>
    <li>Kycia Knight</li>
    <li>Radha Yadav<span style="color: initial"> </span></li>
    <li>Shafali Verma</li>
  </ul>

  <p></p>

  <p class="has-text-align-center">
    <strong
      >Join us in our Official Telegram channel for fast team updates –</strong
    >
  </p>

  <p class="has-text-align-center">
    <strong
      ><a
        href="https://telegram.me/baba_cric"
        target="_blank"
        rel="noreferrer noopener"
        >BabaCric Telegram Channel</a
      ></strong
    >
  </p>

  <p>
    <a
      href="https://amzn.to/3PK0Uyp"
      target="_blank"
      rel="noreferrer noopener"
    ></a>
  </p>
</div>
